.local
.objects/
.settings/
.tmh/
.entities/
.entities.meta/
.tests/
.scripts/
.screenshots/
.templates/
.project/
*.suo
*.user
bin/
obj/
*.bak
*.backup
*.xaml.backup
Data/Output/*.xlsx
.DS_Store
Thumbs.db
desktop.ini
